@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap/dist/css/bootstrap.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: linear-gradient(#210d10, #802201);
  background-size: cover;
  background-attachment: fixed;
  /* height: 100%;
  display: flex;
  justify-content: center;
  max-width: 100%; */
}

.button-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 60rem;
  gap:5rem
  /* align-items: flex-start; */
}

.button-container a {
  color: #fff;
}

.imgDiv {
  background: url("/pr.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: "relative";
}

.input-group {
  margin-right: 20px;
  margin-bottom: -10px;
  margin-top: -10px;
  display: flex;
  align-items: "center";
  justify-content: center;
}

.form-control {
  margin-top: 3.5rem;
  box-shadow: none;
  border: 1px solid orange;
  border-radius: 25px 25px;
  margin-bottom: 3rem;
  min-width: 20px;
  background-color: transparent;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid orange;
  background-color: transparent;
  color: white;
}
.divProducts {
  background-size: cover;
  height: 100%;
  max-width: 100%;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center; 
}

.divPrincipal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  max-width: 250px;
  /* height: 300px; */
  margin: 1.5rem auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  padding: 20px;
  padding-bottom: 0px;
}

.card:hover img {
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-text {
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buton {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 1px 2px;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.buton:hover {
  background-color: #0b4000;
}

.pagination {
  justify-content: center;
}

.page-item a:active,
.page-item a:focus {
  box-shadow: none;
  background-color: #8fe9f0;
}


@media (max-width: 768px) {
  .divProducts {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .card {
    max-width: 200px;
    margin: 1.5rem auto;
    /* Alte modificări pentru dimensiunile mai mici */
  }
}

@media (max-width: 576px) {
  .divProducts {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  .card {
    max-width: 200px;
    margin: 1.5rem auto;
    /* Alte modificări pentru dimensiunile mai mici */
  }
}






